<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="event-list">
      <ion-icon name="musical-notes"></ion-icon>
      {{'events' | translate}}
    </ion-tab-button>
    <ion-tab-button tab="my-events">
      <ion-icon name="calendar"></ion-icon>
      {{'myEvents' | translate}}
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
      {{'profile' | translate}}
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
