<div class="header">
  <ion-buttons slot="start">
    <ion-back-button default-href="home"></ion-back-button>
  </ion-buttons>

  <h1>{{title | translate}}</h1>

  <ion-buttons slot="end">
    <ng-container *ngIf="!isLogged; else logged"></ng-container>
    <ng-container *ngIf="isLogged; else notLogged"></ng-container>
  </ion-buttons>
</div>

<ng-template #logged>
  <ion-button id="config">
    <ion-icon name="settings" slot="icon-only" md="settings-sharp"></ion-icon>
  </ion-button>
  <ion-popover trigger="config" triggerAction="click" [dismissOnSelect]="true">
    <ng-template>
      <div class="ion-padding option" routerLink="/profile">
        {{ (session?.user ?? '') | translate}}
        <ion-icon name="build"></ion-icon>
      </div>
      <div class="ion-padding option" routerLink="/login">
        {{'closeSession'| translate}}
        <ion-icon name="exit-outline"></ion-icon>
      </div>
    </ng-template>
  </ion-popover>
</ng-template>

<ng-template #notLogged>
  <ion-button id="config">
    <ion-icon
      name="person-circle-outline"
      slot="icon-only"
      md="settings-sharp"
    ></ion-icon>
  </ion-button>
  <ion-popover trigger="config" triggerAction="click" [dismissOnSelect]="true">
    <ng-template>
      <div class="ion-padding option" routerLink="/login">
        {{'singIn'| translate}} <ion-icon name="enter-outline"></ion-icon>
      </div>
    </ng-template>
  </ion-popover>
</ng-template>
