* {
  color: white;
}

ion-img {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.preview {
  max-width: 400px;
  margin: auto;
  ion-img {
    height: 100%;
    img {
      max-height: 200px !important;
      width: auto;
      object-fit: contain;
    }
  }
}
