<h1 class="title">{{ event.name }}</h1>
<div class="social-event">
  <!-- <img [src]="event.image" alt="" /> -->
  <div
    class="img"
    [ngStyle]="{'background-image': 'url(' + event.image + ')'}"
  ></div>
  <div class="data">
    <p class="day">
      {{ event.date.day }} - (<span>{{ event.date.startTime }}hs</span> -
      <span>{{ event.date.endTime }}hs</span>)
    </p>
  </div>
  <p class="city"><b>{{ event.address.city }}</b></p>
  <app-button
    text="{{ 'viewMore' | translate }}"
    radius="30px"
    [disabled]="false"
    size="md"
    margin="10px auto"
  >
  </app-button>
</div>
