<app-stars-efects [changeVelocity]="playbackRate"></app-stars-efects>

<app-background image="1"></app-background>
<!-- <app-music-bar
  class="music"
  *ngIf="audioPlayerRef"
  [audioElement]="audioPlayerRef.nativeElement"
></app-music-bar>
 -->
<div class="contianer">
  <div class="mobile">
    <ion-item>
      <ion-input
        type="file"
        (change)="handleFileUpload($event)"
        [(ngModel)]="input"
      ></ion-input>
    </ion-item>
    <ion-list class="list">
      <ion-item
        *ngFor="let file of files; let i = index"
        [ngClass]="{ 'selected': i === selectedIndex }"
      >
        <ion-label>{{ file.name }}</ion-label>
        <!--(click)="selectFile(file,i)"  <app-button
          [disabled]="i === selectedIndex "
          slot="start"
          (click)="deleteFile(i)"
          icon="close-circle"
          [iconOnly]="true"
          type="clear"
          color="red"
        >
        </app-button> -->
      </ion-item>
    </ion-list>

    <div class="data-audio">
      <audio
        id="audioPlayer"
        [src]="audioURL"
        (timeupdate)="updateTime()"
        (loadedmetadata)="updateTime()"
        #audioPlayer
      ></audio>

      <img
        *ngIf="!input || files.length===0"
        src="./assets/icon/favicon.png"
        alt="logo"
      />

      <div class="audio" *ngIf="selectedFile && files.length>0">
        <div class="time">
          <!-- <div>Current Time: {{ formatSecondsToMinutes(currentTime)}}m</div>
          <div>Duration: {{ formatSecondsToMinutes(duration) }}m</div> -->

          <ion-item *ngIf="!deleteTimeRage">
            <ion-range
              min="0"
              [max]="duration"
              step="0.1"
              [(ngModel)]="currentTime"
              (ionChange)="changeTime($event)"
            >
              <ion-label slot="start"
                >{{ formatSecondsToMinutes(currentTime) }}s</ion-label
              >
              <ion-label slot="end"
                >{{ formatSecondsToMinutes(duration) }}s</ion-label
              >
            </ion-range>
          </ion-item>
        </div>
        <div class="actions">
          <app-button
            icon="play-back"
            [iconOnly]="true"
            color="blue"
            radius="50%"
            (click)="rewind()"
          >
          </app-button>

          <app-button
            *ngIf="!isPlaying"
            icon="play"
            [iconOnly]="true"
            color="blue"
            radius="50%"
            (click)="play()"
          >
          </app-button>
          <app-button
            *ngIf="isPlaying"
            icon="pause"
            [iconOnly]="true"
            color="blue"
            radius="50%"
            (click)="pause()"
          >
          </app-button>

          <app-button
            icon="stop"
            [iconOnly]="true"
            color="blue"
            radius="50%"
            (click)="stop()"
          >
          </app-button>

          <app-button
            icon="play-forward"
            [iconOnly]="true"
            color="blue"
            radius="50%"
            (click)="forward()"
          >
          </app-button>
        </div>

        <h2>Velocidad: {{playbackRate}}</h2>

        <ion-item>
          <ion-label>Velocidad</ion-label>
          <ion-range
            min="0.5"
            max="2"
            step="0.1"
            [(ngModel)]="playbackRate"
            (ionChange)="updatePlaybackRate()"
          >
            <ion-label slot="start">0.5x</ion-label>
            <ion-label slot="end">2x</ion-label>
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-label>Velocidad</ion-label>
          <ion-select
            [(ngModel)]="playbackRate"
            interface="action-sheet"
            (ionChange)="updatePlaybackRate()"
          >
            <ion-select-option *ngFor="let s of speeds" [value]="s"
              >{{s}}x</ion-select-option
            >
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Volumen</ion-label>
          <ion-range
            min="0"
            max="1"
            step="0.1"
            [(ngModel)]="volume"
            (ionChange)="updateVolume()"
          >
            <ion-label slot="start">0</ion-label>
            <ion-label slot="end">1</ion-label>
          </ion-range>
        </ion-item>
      </div>
    </div>
    <app-button
      text="RESET APP"
      type="solid"
      color="red"
      size="md"
      margin="20px auto"
      (click)="clearFiles()"
    >
    </app-button>
  </div>
</div>
