<app-stars-efects [changeVelocity]="playbackRate"></app-stars-efects>

<app-background image="1"></app-background>
<app-music-bar
  class="music"
  *ngIf="audioPlayerRef "
  [audioElement]="audioPlayerRef.nativeElement"
></app-music-bar>

<div class="contianer">
  <div class="regresive-counter show" *ngIf="showCounter">
    {{regresiveCount+1}}
  </div>
  <div class="mobile">
    <input
      class="animate__animated animate__rollIn inputfile"
      type="file"
      (change)="handleFileUpload($event)"
      [(ngModel)]="inputVar"
    />
    <!--accept="audio/*"
         <ion-input
        type="file"
        (change)="handleFileUpload($event)"
        [(ngModel)]="input"
        accept=".mp3"
      ></ion-input> -->
    <h1 *ngIf="!selectedSong">SELECCIONE UN TEMA</h1>
    <ion-list class="list animate__animated animate__slideInDown">
      <ion-item
        *ngFor="let file of files"
        [ngClass]="{ 'selected': file.url === selectedSong }"
        (click)="selectFile(file)"
      >
        <ion-label>{{ file.name }}</ion-label
        ><app-button
          [disabled]="file.url === selectedSong "
          slot="start"
          (click)="deleteFile(file.url)"
          icon="close-circle"
          [iconOnly]="true"
          type="clear"
          color="red"
        >
        </app-button>
        <!--(click)="selectFile(file,i)"  <app-button
          [disabled]="file.url === selectedSong "
          slot="start"
          (click)="deleteFile(i)"
          icon="close-circle"
          [iconOnly]="true"
          type="clear"
          color="red"
        >
        </app-button> -->
      </ion-item>
    </ion-list>

    <div class="data-audio">
      <audio
        id="audioPlayer"
        [src]="audioURL"
        (timeupdate)="updateTime()"
        (loadedmetadata)="updateTime()"
        #audioPlayer
      ></audio>

      <img
        *ngIf="!getValidateExisteFiles || !selectedSong"
        src="./assets/icon/favicon.png"
        alt="logo"
      />

      <div class="audio" *ngIf="selectedFile &&  getValidateExisteFiles">
        <div class="time animate__animated animate__rubberBand">
          <!-- <div>Current Time: {{ formatSecondsToMinutes(currentTime)}}m</div>
          <div>Duration: {{ formatSecondsToMinutes(duration) }}m</div> -->
          <ion-item *ngIf="!deleteElement">
            <ion-range
              min="0"
              [max]="duration"
              step="0.1"
              [(ngModel)]="currentTime"
              (ionChange)="changeTime($event)"
            >
              <ion-label slot="start"
                >{{ formatSecondsToMinutes(currentTime) }}s</ion-label
              >
              <ion-label slot="end"
                >{{ formatSecondsToMinutes(duration) }}s</ion-label
              >
            </ion-range>
          </ion-item>
        </div>
        <br />
        <div class="actions animate__animated animate__bounce">
          <app-button
            icon="play-back"
            [iconOnly]="true"
            color="blue"
            radius="50%"
            (click)="rewind()"
          >
          </app-button>

          <app-button
            *ngIf="!isPlaying"
            icon="play"
            [iconOnly]="true"
            color="blue"
            radius="50%"
            [disabled]="disabledPlay"
            (click)="play()"
          >
          </app-button>
          <app-button
            *ngIf="isPlaying"
            icon="pause"
            [iconOnly]="true"
            color="blue"
            radius="50%"
            (click)="pause()"
          >
          </app-button>

          <app-button
            icon="stop"
            [iconOnly]="true"
            color="blue"
            radius="50%"
            (click)="stop()"
          >
          </app-button>

          <app-button
            icon="play-forward"
            [iconOnly]="true"
            color="blue"
            radius="50%"
            (click)="forward()"
          >
          </app-button>
        </div>
        <div class="begin animate__animated animate__backInUp">
          <!-- <ion-item>
            <ion-input
              class="input-centered"
              label="Comenzar en: "
              placeholder="Enter text"
              [(ngModel)]="currentTime"
            ></ion-input>
            <span>s</span>
          </ion-item> -->
          <ion-item>
            <ion-toggle
              color="danger"
              [enableOnOffLabels]="true"
              [(ngModel)]="withDelay"
              mode="md"
              >Con delay 5s</ion-toggle
            >
          </ion-item>
        </div>

        <h2 class="animate__animated animate__flipInX">
          Velocidad: {{playbackRate}}
        </h2>
        <ion-item class="animate__animated animate__fadeInRightBig">
          <ion-label>Velocidad</ion-label>
          <ion-range
            min="0.5"
            max="2"
            step="0.1"
            [(ngModel)]="playbackRate"
            (ionChange)="updatePlaybackRate()"
          >
            <ion-label slot="start">0.5x</ion-label>
            <ion-label slot="end">2x</ion-label>
          </ion-range>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInLeftBig">
          <ion-label>Velocidad</ion-label>
          <ion-select
            [(ngModel)]="playbackRate"
            interface="action-sheet"
            (ionChange)="updatePlaybackRate()"
          >
            <ion-select-option *ngFor="let s of speeds" [value]="s"
              >{{s}}x</ion-select-option
            >
          </ion-select>
        </ion-item>

        <!-- <ion-item>
          <ion-label>Volumen</ion-label>
          <ion-range
            min="0"
            max="1"
            step="0.1"
            [(ngModel)]="volume"
            (ionChange)="updateVolume()"
            *ngIf="!deleteElement"
          >
            <ion-label slot="start">0</ion-label>
            <ion-label slot="end">1</ion-label>
          </ion-range>
        </ion-item> -->
      </div>
    </div>
    <app-button
      text="RESET APP"
      type="solid"
      color="red"
      size="md"
      margin="20px auto"
      (click)="clearFiles()"
    >
    </app-button>
  </div>
</div>
